.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 16px;
}

.projects-title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.projects-description {
  font-size: 1.5rem;
  line-height: 1.5;
}
.project-link {
  font-size: 25px;
}
